<div class="row">
    <div class="col-xs-12">
        <form #form="ngForm" (ngSubmit)="onAddOrUpdateItem(form)">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text" ngModel required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input class="form-control" id="amount" name="amount" type="number" ngModel required
                           [pattern]="'^[1-9]+[0-9]*$'">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit"
                            [disabled]="!form.valid">{{ editMode ? 'Update' : 'Add' }}</button>
                    <button class="btn btn-danger" (click)="onDelete()" type="button" *ngIf="editMode">Delete</button>
                    <button class="btn btn-primary" (click)="onClear()" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
